.nav_bar{
    padding-top: 8%;
}

.navbar_brand{
    width: 60%;
    height: auto;
}

@media screen and (max-width: 48em) and (min-width: 30em){
    .navbar_brand{
        max-width: 35%;
        height: auto;
    }
}

@media screen and (min-width: 64em){
    .navbar_brand{
        max-width: 20%;
        height: auto;
    }

    .nav_bar{
        padding-top: 5%;
    }
}